<ion-header>

</ion-header>

<ion-content>

  <div class="background-container">

    <div class="background-filter">

      <ion-card>
        <img src="../../assets/logo.svg" />
       <ion-card-header>
         <ion-card-title>
          Bienvenido a Arcadia
         </ion-card-title>
       </ion-card-header>
       <ion-card-content>
         <ion-button (click)="loginPage()">
           Login
         </ion-button>
       </ion-card-content>
      </ion-card>
      </div>
    </div>

  </ion-content>
