<ion-content>
  <div class="background-pic">
    <div class="background-filter">
      <div class="shape"><img src="../../assets/shape.svg"/></div>

      <ion-card>
        <ion-card-header>
          <ion-card-title>
           Registrate!
          </ion-card-title>
          <ion-card-subtitle>
           Create una <strong href="#" >Cuenta</strong>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
           <ion-item>
            <ion-input placeholder="Nombre completo"></ion-input>
           </ion-item>
           <ion-item>
             <ion-input placeholder="Email" #email></ion-input>
           </ion-item>
           <ion-item>
            <ion-input placeholder="Password" #password></ion-input>
          </ion-item>

           <div class="bottom-section">
            <ion-button (click)="signUPUser(email, password)" expand="block">Sign up</ion-button>
            <span>Ya tienes una cuenta? <a href="http://localhost:8100/login">Ingresa</a></span>
           </div>
        </ion-card-content>
      </ion-card>
    </div>
 </div>
</ion-content>
